<p>create new Theater</p>
<%= form_for @theater, method: :post do |f| =%>
    <%= render "form", f: f =%>
    <%= f.submit =%>
    <button>
        <%= link_to "cancel", :back =%>
    </button>
<% end %>